a.username {
    color: #00aced
}

a.tag {
    color: #0084b4
}

body{
     background : #17A2B8 url(/images/twitter_400x400.png);
     background-size: cover;
     background-repeat: no repeat;
}




